/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

header nav *{
  float: left;
  width: 33%;
  list-style: none;
}
nav li {
  margin: -9px;
  width: 18%;
}
nav img {
  margin: 10px;
  width: 33%;

}
nav button {
  width: 18%;
}
main {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
section {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 40px;
}
section>p {
  text-align: center
}

.gym-section {
  display: flex;
}
.gym-class {
  text-align: center;
  width: 50%;
  margin: 50px;
}
.gym-hire {
  text-align: center;
  width: 50%;
  margin: 50px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
