/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header .logo-img {
  float: left;
  width: 20%;
  
}
nav li {
float: left;
margin-left: 3px;
list-style: none;
}
.store-area {
  width: 1%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
